@model IEnumerable<SATNET.WebApp.Models.Lookup.LookUpModel>

<div>

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">

                <div>
                    Plan Type
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
            <div class="page-title-actions">

                <div class="d-inline-block dropdown">

                    @await Html.PartialAsync("_Export")
                    <a href="@String.Format("/{0}", "PlanType/Add")" class=" btn btn-default">
                        Add Plan Type
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="BodyContent">
                @await Html.PartialAsync("_PlanTypeList", Model)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
    });

</script>