@model IEnumerable<SATNET.WebApp.Models.OrderViewModel>

<div id="MainContents">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">

                <div>
                    Service Orders
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
            <div class="page-title-actions">

                <div class="d-inline-block dropdown">

                    <div class="dropdown d-inline-block">
                        <button type="button" data-toggle="dropdown" class="mb-0 ml-2  btn  btn btn-info">Export  <i class="fa fa-angle-down ml-2"></i></button>
                        <div tabindex="-1" role="menu" class="dropdown-menu">
                            <button type="button" tabindex="0" class="dropdown-item">PDF</button>
                            <button type="button" tabindex="0" class="dropdown-item">CSV</button>
                            <button type="button" tabindex="0" class="dropdown-item">Print</button>
                        </div>
                    </div>

                    <a href="@String.Format("/{0}", "Order/Add")" class=" btn btn-default right-pan">
                        Add New
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="filters">
        <div class="row">
            <div class="col-lg-2">
                <div class="position-relative form-group">
                    <select type="select" class="form-control ">
                        <option value="">Request Type</option>
                        <option>value</option>
                        <option>value</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="position-relative form-group">

                    <select type="select" class="form-control ">
                        <option value="">Site</option>
                        <option>value</option>
                        <option>value</option>
                    </select>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="BodyContent">
                @await Html.PartialAsync("_PackageList", Model)
            </div>



        </div>

    </div>

</div>

<script type="text/javascript">

    $(function () {
        var t = $("#grid_table").DataTable({

            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "columnDefs": [
                { "orderable": false, "targets": 0 },
                { "orderable": false, "targets": 1 },
                { "orderable": false, "targets": 8 }
            ],
            //"columnDefs": [
            //    {
            //        'targets': 0, // column index (start from 0)bb
            //        'orderable': false, // set orderable false for selected columns
            //    }],
        });
        t.on('order.dt search.dt', function () {
            t.column(1, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    });

</script>