@model IEnumerable<SATNET.WebApp.Models.CustomerModel>

<div>

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">

                <div>
                    Customers
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
            <div class="page-title-actions">

                <div class="d-inline-block dropdown">

                    @await Html.PartialAsync("_Export")
                    <a href="@String.Format("/{0}", "Customer/Add")" class=" btn btn-default">
                        Add Customer
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="BodyContent">
                @await Html.PartialAsync("_CustomerList", Model)
            </div>
            


        </div>

    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        console.log('There');
        init_table_pagination('grid_table');
    });
</script>