<li>
    <a href="@Url.Action("Index","Home")" class="">
        <i class="metismenu-icon icofont-contrast"></i> Dashboard
    </a>
</li>
@*//Site Monitor*@
<li>
    <a href="@Url.Action("Index", "Site")" class="">
        <i class="metismenu-icon icofont-site-map"></i> Site Monitor
    </a>
</li>
@*//Service Orders*@
<li>
    <a href="@String.Format("/{0}", "Order")" class="">
        <i class="metismenu-icon icofont-shopping-cart"></i> Service Orders
    </a>
</li>
@*//Systems Log*@
<li>
    <a href="@Url.Action("Index", "SystemLogs")" class="">
        <i class="metismenu-icon icofont-telescope"></i> System Logs
    </a>
</li>