<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">

            <div>
                @*Invoice #35845 - Ella-Rose*@
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                @await Html.PartialAsync("_Export")
                <a href="@String.Format("/{0}", "SOInvoice/Index")" class=" btn btn-danger">
                    Back
                </a>
            </div>
        </div>
    </div>
</div>
