<header>
    <div class="row">
        <div class="col">

            <img src="~/Themes/QMSN/Resources/img/logo-icon.png" style="max-height:100px;" />

        </div>
        <div class="col company-details">
            <h2 class="name">

                Universal Satnet

            </h2>
            <div>455 Foggy Heights, AZ 85004, UAE</div>
            <div>(123) 456-789</div>
            <div>sales@universalsatcom.com</div>
        </div>
    </div>
</header>
