<header>
    <div class="row">
        <div class="col">

            <img src="logo-icon.png" style="max-height:100px;" />

        </div>
        <div class="col company-details">
            <h2 class="name">

                Universal Satnet

            </h2>
            <div>Jumeirah Lakes Towers, Dubai, U.A.E.</div>
            <div>TEL. +971 4 55 217 13</div>
            <div>Email  accounts@universalsatnet.net</div>
        </div>
    </div>
</header>
