@model SATNET.WebApp.Models.Invoice.SOInvoiceViewModel

<div id="MainContents">
    @await Html.PartialAsync("Detail/_Common")
    <div class="row">
        <div class="col-md-12">
            <div class="invoice overflow-auto">
                <div style="min-width: 600px">
                    @await Html.PartialAsync("Detail/_CommonHeader")
                    <main>
                        @await Html.PartialAsync("Detail/_CommonHeader2", Model)
                        <table border="0" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th class="text-left">Description</th>
                                    <th class="text-right">Price</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.InvoiceItems)
                                {
                                    <tr>
                                        <td class="text-left">
                                            <span>@item.Item GB</span>
                                        </td>
                                        <td class="unit">$ @item.Rate</td>
                                        <td class="total">
                                            $ @item.Amount
                                        </td>
                                    </tr>

                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td>GRAND TOTAL</td>
                                    <td>$ @Model.Total</td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="thanks">Thank you!</div>
                    </main>
                    <footer>
                        Invoice was created on a computer and is valid without the signature and seal.
                    </footer>
                </div>
                <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                <div></div>
            </div>
        </div>
    </div>
</div>

