<div class="jumbotron text-center">
    <h3>Bilal Enterprises</h3>
    <p>SITE LEDGER</p>
    <p>SEP 2 TO OCT 1</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <p class="font-weight-bold">Site Name</p>
            <p>test test test test test test test test test test test test test test test test </p>
        </div>
        <div class="col-sm-2">
            <p class="font-weight-bold">Date</p>
            <p>test test test test test test test test test test test test test test test test </p>        </div>
        <div class="col-sm-3">
            <p class="font-weight-bold">Description</p>
            <p>test test test test test test test test test test test test test test test test </p>        </div>
        <div class="col-sm-3">
            <p class="font-weight-bold">Invoice Number</p>
            <p>INV.BER.026.20201023.000053 </p>        </div>
        <div class="col-sm-2">
            <p class="font-weight-bold">Amount</p>
            <p>12623125.00 </p>        </div>
    </div>
</div>