@model IEnumerable<SATNET.WebApp.Models.Report.ReportViewModel>

<div id="MainContents">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">

                <div>
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
            <div class="page-title-actions">

                <div class="d-inline-block dropdown">

                    <div class="dropdown d-inline-block">
                        <button type="button" data-toggle="dropdown" class="mb-0 ml-2  btn  btn btn-info">Export  <i class="fa fa-angle-down ml-2"></i></button>
                        <div tabindex="-1" role="menu" class="dropdown-menu">
                            <button type="button" tabindex="0" class="dropdown-item">PDF</button>
                            <button type="button" tabindex="0" class="dropdown-item">CSV</button>
                            <button type="button" tabindex="0" class="dropdown-item">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="filters">
        <div class="row">
            <div class="col-lg-2">
                <div class="position-relative form-group">
                    <select id="SelectCustomer" type="select" class="form-control" asp-items="ViewBag.CustomerList">
                        <option value="0" selected>All</option>
                    </select>
                </div>
            </div>
            @*<div class="col-lg-2">
                <div class="position-relative form-group">
                    <select id="SelectMonth" type="select" class="form-control">
                        <option value="0" selected>All</option>
                        <option value="1" selected>Jan</option>
                        <option value="2" selected>Feb</option>
                        <option value="3" selected>All</option>
                        <option value="4" selected>All</option>
                        <option value="5" selected>All</option>
                        <option value="6" selected>All</option>
                        <option value="7" selected>All</option>
                        <option value="8" selected>All</option>
                        <option value="9" selected>All</option>
                        <option value="10" selected>All</option>
                        <option value="11" selected>All</option>
                        <option value="12" selected>All</option>
                    </select>
                </div>
            </div>*@

        </div>
    </div>


            <div id="BodyContent">
                @await Html.PartialAsync("Report/_Report")
            </div>
        </div>



@section scripts{
    <script type="text/javascript">


    </script>
}