@model IEnumerable<SATNET.WebApp.Models.SiteModel>

<div id="MainContents">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">

                <div>
                    Sites
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
            <div class="page-title-actions">

                <div class="d-inline-block dropdown">

                    @await Html.PartialAsync("_Export") 
                    @*<a href="@String.Format("/{0}", "Site/Add")" class=" btn btn-default right-pan">
                            Add New
                        </a>*@
                </div>
            </div>
        </div>
    </div>
    <div class="filters">
        <div class="row">
            @if (ViewBag.CustomerSelectList != null)
            {
                <div class="col-lg-2">
                    <div class="position-relative form-group">
                        <label>Customer</label>
                        <select id="selectCustomer" type="select" class="form-control" asp-items="ViewBag.CustomerSelectList">
                            <option value="0" selected>All</option>
                        </select>
                    </div>
                </div>

            }
            <div class="col-lg-2">
                <div class="position-relative form-group">
                    <label>Site Status</label>
                    <select id="selectSiteStatus" type="select" class="form-control" asp-items="ViewBag.SiteStatusSelectList">
                        <option value="0" selected>All</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="position-relative form-group">
                    <label>Promotion</label>
                    <select id="selectPromotion" type="select" class="form-control" asp-items="ViewBag.PromotionSelectList">
                        <option value="0" selected>All</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="BodyContent">
                @await Html.PartialAsync("_Site", Model)
            </div>
        </div>
    </div>
</div>

    
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            init_table_pagination('grid_table');
    });
        $(function () {
            var _customerId = 0;
            if (@ViewBag.CustomerId != null) {
                _customerId=@ViewBag.CustomerId;
            }
            $(".filters select#selectCustomer").change(function () {
                GetSiteList();
            });
            $(".filters select#selectSiteStatus").change(function () {
                GetSiteList();
            });
            $(".filters select#selectPromotion").change(function () {
                GetSiteList();
            });
        });

        GetSiteList = function () {
            var customerId = $("#selectCustomer").val();
            var statusId = $("#selectSiteStatus").val();
            var promotionId = $("#selectPromotion").val();
            $.ajax(
                {
                    url: '/Site/GetSiteListAjax',
                    data: { customerId: customerId, statusId: statusId, promotionId: promotionId },
                    type: 'get',
                    dataType: "html",
                    success: function (html) {
                        if (html !== null) {
                            $("#BodyContent").html(html);
                        }
                    },
                    error: function () {
                        alert('Error occurred while processing the request.');
                    }
                });
        }
    </script>
}