@model SATNET.WebApp.Models.TokenPrice.TokenPriceViewModel

<form method="post" data-ajax="true" asp-controller="TokenPrice" asp-action="Add" data-ajax-method="post"
      enctype="multipart/form-data" id="formAdd" autocomplete="off">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Add Token Price
                    <div class="page-title-subheading">
                        Please fillout following form
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    <a href="@String.Format("/{0}", "TokenPrice/Index")" class=" btn btn-danger">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-default">Save Token Price</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Token(GB)</label>
                <select asp-for="TokenId" asp-items="Model.TokenSelectList" class="form-control select2 text-input">
                    <option value="">-Select Token-</option>
                </select>
                <span asp-validation-for="TokenId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Price Tier</label>
                <select asp-for="PriceTierId" asp-items="Model.PriceTierSelectList" class="form-control select2 text-input">
                    <option value="" hidden disabled selected>-Select Price Tier-</option>
                </select>
                <span asp-validation-for="PriceTierId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>


<!-- /.Main content -->
@section scripts{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
}