@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="dropdown d-inline-block">
        <button type="button" data-toggle="dropdown"  class="mb-0 ml-2  btn  btn btn-info"> <span class="fa fa-download" aria-hidden="true" data-toggle="tooltip" title="Export"></span> <i class="fa fa-angle-down ml-2"></i></button>
        <div tabindex="-1" role="menu" class="dropdown-menu">
            <button id="excel" type="button" tabindex="0" class="dropdown-item"> <span class="fa fa-file-excel" aria-hidden="true"></span> &nbsp;Excel</button>
            <button style="display:none;" id="pdf" type="button" tabindex="0" class="dropdown-item"> <span class="fa fa-file-pdf" aria-hidden="true"></span> &nbsp;PDF</button>
            @*<button type="button" tabindex="0" class="dropdown-item">Print</button>*@
        </div>
    </div>