@using Microsoft.AspNetCore.Identity
@using SATNET.WebApp.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var userFullName = user.FirstName + ' ' + user.LastName;
    var userRoles = await UserManager.GetRolesAsync(user);
    var userRole = userRoles.FirstOrDefault();
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="app-header-right">
        <div class="header-btn-lg pr-0">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="btn-group">
                            <a data-toggle="dropdown" class="p-0 ">
                                <img width="30" class="rounded-circle" src="assets/images/thumbail-user.png" alt="">
                                <i class="fa fa-angle-down ml-2 opacity-8"></i>
                            </a>
                            <div class="widget-content-left  ml-3 header-user-info">
                                <div class="widget-heading">
                                    Welcome @userFullName!
                                </div>
                                <div class="widget-subheading">
                                    @userRole
                                </div>
                            </div>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                <button type="button" tabindex="0" class="dropdown-item">Change Password</button>
                                <button type="button" tabindex="0" class="dropdown-item">Profile Settings</button>

                                <div tabindex="-1" class="dropdown-divider"></div>

                                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="dropdown-item">Logout</button>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
}

