@using Microsoft.AspNetCore.Identity
@using SATNET.WebApp.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ml-auto mr-2">
    <!-- Notifications Dropdown Menu -->
    @if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item dropdown">
        <div class="nav-link" data-toggle="dropdown">
            @*<img class="img-fluid img-circle img-sm" src="~/Themes/Default/Resources/img/user8-128x128.jpg" alt="Alt Text">*@
            <!-- .img-push is used to add margin to elements next to floating images -->
            <div class="img-push">
                <span class="username" style="cursor:pointer;">
                    Welcome  @UserManager.GetUserName(User)!
                </span>
            </div>
        </div>
        <div class="dropdown-menu dropdown-menu dropdown-menu-right">
            <a href="/Home" class="dropdown-item"> <i class="fa fa-home mr-2"></i> Home </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item"> <i class="fa fa-home mr-2"></i> Change password </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="fa fa-home mr-2"></i>  
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </a>

        </div>
    </li>
    }
</ul>


@*<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>*@
