@using Microsoft.AspNetCore.Identity
@using SATNET.WebApp.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="app-header-right">
        <div class="header-btn-lg pr-0">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">

                        <div class="btn-group">
                            <a data-toggle="dropdown" class="p-0 ">
                                <img width="30" class="rounded-circle" src="~/Themes/QMSN/Resources/img/thumbail-user.png" alt="">
                                <i class="fa fa-angle-down ml-2 opacity-8"></i>
                            </a>
                            <div class="widget-content-left  ml-3 header-user-info">
                                <div class="widget-heading">
                                    Welcome  @UserManager.GetUserName(User)!
                                </div>
                                <div class="widget-subheading">
                                    Account Manager
                                </div>
                            </div>
                            <div role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                <button type="button" tabindex="0" class="dropdown-item">Change Password</button>
                                <button type="button" tabindex="0" class="dropdown-item">Profile Settings</button>
                                <div tabindex="-1" class="dropdown-divider"></div>

                                <a href="login.php?logout=true" class="dropdown-item">Logout</a>

                            </div>



                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

}
<!--
<ul class="navbar-nav ml-auto mr-2">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <div class="nav-link" data-toggle="dropdown">
            @*<img class="img-fluid img-circle img-sm" src="~/Themes/Default/Resources/img/user8-128x128.jpg" alt="Alt Text">*@
            <div class="img-push">
                <span class="username" style="cursor:pointer;">
                    Welcome  @UserManager.GetUserName(User)!
                </span>
            </div>
        </div>
        <div class="dropdown-menu dropdown-menu dropdown-menu-right">
            <a href="/Home" class="dropdown-item"> <i class="fa fa-home mr-2"></i> Home </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item"> <i class="fa fa-home mr-2"></i> Change password </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="fa fa-home mr-2"></i>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </a>

        </div>
    </li>
}
</ul>
-->
