@model IEnumerable<SATNET.WebApp.Models.HardwareKitModel>

<div>

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">

                <div>
                    Hardware Kit
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    @await Html.PartialAsync("_Export")
                    <a href="@String.Format("/{0}", "HardwareKit/Add")" class=" btn btn-default">
                        Add Hardware Kit
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="BodyContent">
                @await Html.PartialAsync("_HardwareKitList", Model)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        init_table_pagination('grid_table');
    });
</script>