@model SATNET.WebApp.Models.User.UserEditViewModel
@{
    ViewData["Title"] = "Edit User";
}

    <form method="post" data-ajax="true" asp-controller="User" asp-action="Edit" data-ajax-method="post" enctype="multipart/form-data" autocomplete="off">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div>
                        Update User
                    </div>
                </div>
                <div class="page-title-actions">
                    <div class="d-inline-block dropdown">
                        <a href="@String.Format("/{0}", "User/Index")" class=" btn btn-danger">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-default">Update Record</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>User Type</label>
                    <select asp-for="UserTypeId" asp-items="Model.UserTypeSelectList" class="form-control select2 text-input">
                        <option value="">-Select Users Type-</option>
                    </select>
                    <span asp-validation-for="UserTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Customer</label>
                    <select asp-for="CustomerId" asp-items="Model.CustomerSelectList" class="form-control select2 text-input">
                        <option value="" hidden disabled selected>-Select Customer-</option>
                    </select>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Roles</label>
                    <select asp-for="RoleName" asp-items="Model.RoleSelectList" class="form-control select2 text-input">
                        <option value="" hidden disabled selected>-Select Role-</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 new-site">
                <div class="position-relative form-group">
                    <label asp-for="FirstName" class="lable-control"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 new-site">
                <div class="form-group">
                    <label asp-for="LastName" class="lable-control"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            @*<div class="col-lg-3 new-site">
                <div class="position-relative form-group">
                    <label asp-for="UserName" class="lable-control"></label>
                    <input disabled="disabled" asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>*@
            <div class="col-lg-3 new-site">
                <div class="position-relative form-group">
                    <label asp-for="Email" class="lable-control"></label>
                    <input disabled="disabled" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 new-site">
                <div class="position-relative form-group">
                    <label asp-for="Password" class="lable-control"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 new-site">
                <div class="position-relative form-group">
                    <label asp-for="ConfirmPassword" class="lable-control"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            
        </div>
        <input type="hidden" asp-for="Id" />
        <input id="hdnUserTypeId" type="hidden" asp-for="UserTypeId" />
        <input id="hdnUserRoleName" type="hidden" asp-for="RoleName" />
    </form>

@section scripts{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
<script src="~/js/user/user-add.js"></script>
}





