@model IEnumerable<SATNET.WebApp.Models.User.UserViewModel>

<div id="MainContents">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">

                <div>
                    Users
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
            <div class="page-title-actions">

                <div class="d-inline-block dropdown">

                    @await Html.PartialAsync("_Export")
                    <a href="@String.Format("/{0}", "User/Add")" class=" btn btn-default">
                        Add User
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="filters">
        <div class="row">
            <div class="col-lg-2">
                <div class="position-relative form-group">
                    <label>User Type</label>
                    <select id="selectUserType" type="select" class="form-control" asp-items="ViewBag.UserTypeSelectList">
                        <option value="">All</option>
                    </select>
                </div>
            </div>

            @*<div class="col-lg-2">
                <div class="position-relative form-group">

                    <select type="select" class="form-control ">
                        <option value="">Customer</option>
                        <option>value</option>
                        <option>value</option>
                    </select>
                </div>
            </div>*@

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="BodyContent">
                @await Html.PartialAsync("_UserList", Model)
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/user/user-list.js"></script>
}



