@model IEnumerable<SATNET.WebApp.Models.Hardware.HardwareComponentRegistrationModel>

<div>

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">

                <div>
                    AIRMAC
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    @await Html.PartialAsync("_Export")
                    <a href="@String.Format("/{0}", "LogisticsAIRMAC/Import")" class=" btn btn-default">
                        Import AIRMAC
                    </a>
                    <a href="@String.Format("/{0}", "LogisticsAIRMAC/Add")" class=" btn btn-default">
                        Add AIRMAC
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="BodyContent">
                @await Html.PartialAsync("_List", Model)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        init_table_pagination('grid_table');
    });
    //$('#excel').click(function () {
    //    var table_header = [];
    //    var dt_col_start_index = -1; var dt_col_end_index = -1;
    //    var table_name = "grid_table";
    //    var datatable = $('#' + table_name).DataTable();
    //    var table_rows_array = datatable.rows({ search: 'applied' }).data().toArray();
    //    var table_column_count = datatable.columns().data().toArray().length;
    //    var ret_table_rows = new Array();

    //    $('#' + table_name + ' > thead > tr > th').each(function () {
    //        table_header.push($.trim($(this).text()));
    //    });
    //    //Set stating and closing index
    //    if (table_header.length !== 0) {
    //        //set table column start index
    //        dt_col_start_index = table_header[0] == '#' ? 1 : 0;
    //        //set table column end index
    //        let table_header_col_c = table_header.length;
    //        dt_col_end_index = table_header[table_header_col_c - 1].toUpperCase() == 'Actions'.toUpperCase() ||
    //            table_header[table_header_col_c - 1] == '' ? table_header_col_c - 2 : table_header_col_c - 1 ;
    //    }
    //    else {
    //        //safe values
    //        dt_col_start_index = 1; dt_col_end_index = table_column_count - 2;
    //    }
    //    //Add table header
    //    let t_col_header = [];
    //    for (var i = dt_col_start_index, y = 1; i <= dt_col_end_index; i++, y++) {
    //        t_col_header.push(table_header[i]);
    //    }
    //    var table_header_str = t_col_header.join(",");
    //    //Add table rows
    //    $.each(table_rows_array, function (index, value) {
    //        let data = {};
    //        var propertyName = "Property";
    //        for (var i = dt_col_start_index, y = 1; i <= dt_col_end_index; i++, y++) {
    //            let cProp = propertyName + y;
    //            data[cProp] = value[i];
    //        }
    //        ret_table_rows.push(data);
    //    });
    //    console.log('table header:' + table_header);
    //    console.log('table col count:' + table_column_count);
    //    console.log('col start index:' + dt_col_start_index);
    //    console.log('col end index:' + dt_col_end_index);
    //    console.log(ret_table_rows);
    //    $.ajax({
    //        ContentType: 'application/json; charset=utf-8',
    //        dataType: 'json',
    //        type: 'POST',
    //        url: '/Export/ExcelExport',
    //        data: { "records": ret_table_rows, "header": table_header_str, "menu": 'LogisticsAIRMAC' },
    //        success: function (response) {
    //            console.log(response);
    //            if (response.isSuccess === true) {
    //                Layout.ShowMessage(response.errorCode, 'Success Message', 1);
    //            }
    //            else {
    //                Layout.ShowMessage(response.errorCode, 'Error Message', 2);
    //            }
                
    //        },
    //        error: function (response) {
    //            $('#result').html(response);
    //        }
    //    });
    //});
    
</script>