<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>
                Order Details
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <a href="@String.Format("/{0}", "Order/Index")" class=" btn btn-danger">
                    Back
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <p class="font-weight-bold">Order Number:</p>
    </div>
    <div class="col-md-8">
        <p>SO-ABC-12345</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <p class="font-weight-bold">Request Type:</p>
    </div>
    <div class="col-md-8">
        <p>Activation</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <p class="font-weight-bold">Customer Name:</p>
    </div>
    <div class="col-md-8">
        <p>Muhammad Enterprises</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <p class="font-weight-bold">Site Name:</p>
    </div>
    <div class="col-md-8">
        <p>AZX12345</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <p class="font-weight-bold">Schedule Date:</p>
    </div>
    <div class="col-md-8">
        <p>AZX12345</p>
    </div>
</div>
<div class="col-lg-12 new-site">
    <h4>New Site Details</h4>
</div>


