@model SATNET.WebApp.Models.Order.OrderViewModel

@await Html.PartialAsync("Detail/_Common", Model)

<div class="row so-detail-heading">
    <div class="col-lg-12">
        <label class="title font-weight-bold">Token Details</label>
    </div>
</div>
<div class="row so-detail-row">
    <div class="col-lg-5">
        <div class="form-group">
            <label class="font-weight-bold">Token:</label>
            <label>@Model.Token</label>
        </div>
    </div>
</div>