@model IEnumerable<SATNET.WebApp.Models.ServicePlanModel>

<div>

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">

                <div>
                    Service Plans
                    <div class="page-title-subheading">
                    </div>
                </div>
            </div>
            <div class="page-title-actions">

                <div class="d-inline-block dropdown">

                    @await Html.PartialAsync("_Export")
                    <a href="@String.Format("/{0}", "ServicePlan/Add")" class=" btn btn-default">
                        Add Service Plan
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="BodyContent">
                @await Html.PartialAsync("_ServicePlanList", Model)
            </div>



        </div>

    </div>

</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            init_table_pagination('grid_table');
        });
    </script>
}