
<div class="main-card ">
    <div class="no-gutters1 row">

        <div class="col-md-4">
            <div class="card mb-3 widget-content box">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class=" mr-3 text-primary" style="font-size: 30px;"> <i class="icofont-users-alt-1"></i></div>
                    </div>
                    <div class="widget-content-left">
                        <div class="widget-heading">Total Clients</div>
                        <div class="widget-subheading">Users</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers "><span>11</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 widget-content box">
                <div class="widget-content-outer">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                            <div class=" mr-3 text-success" style="font-size: 30px;"> <i class="icofont-ebook"></i></div>
                        </div>
                        <div class="widget-content-left">

                            <div class="widget-heading">Clients without due</div>
                            <div class="widget-subheading">This Month</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers ">17</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3 widget-content box">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class=" mr-3 text-danger" style="font-size: 30px;"><i class="icofont-bullhorn"></i></div>
                    </div>
                    <div class="widget-content-left">

                        <div class="widget-heading">Clients with due</div>
                        <div class="widget-subheading">This Month</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers ">5</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3 widget-content box">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class=" mr-3 text-info" style="font-size: 30px;"><i class="icofont-document-folder"></i></div>
                    </div>
                    <div class="widget-content-left">

                        <div class="widget-heading">Total Billed </div>
                        <div class="widget-subheading">Amount</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers ">$12.6k</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3 widget-content box">
                <div class="widget-content-outer">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                            <div class=" mr-3 text-warning" style="font-size: 30px;"> <i class="icofont-file-document"></i></div>
                        </div>
                        <div class="widget-content-left">

                            <div class="widget-heading">Payment Received</div>
                            <div class="widget-subheading">This Month</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers ">$31.3k</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="card mb-3 widget-content box">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class=" mr-3 text-success" style="font-size: 30px;"> <i class="icofont-maximize"></i></div>
                    </div>
                    <div class="widget-content-left">

                        <div class="widget-heading">Pending Amount</div>
                        <div class="widget-subheading">This Month</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers">$11.6k</div>
                    </div>
                </div>
            </div>

        </div>



    </div>


</div>

<div class="row">
    <div class="col-lg-7">

        <div class="main-card mb-3 card">
            <div class="card-header">Payment History</div>
            <div class="card-body">
                <div class="chartbox">

                    <div id="chart">
                    </div>

                    <script>
                                            var options = {
                                                series: [{
                                                    name: 'Payment',
                                                    data: [2100, 3208, 415, 1015, 1564, 3000, 1253, 112, 911, 1700, 1862, 1258]
                                                }],
                                                chart: {
                                                    height: 300,
                                                    type: 'bar',
                                                },
                                                plotOptions: {
                                                    bar: {
                                                        dataLabels: {
                                                            position: 'top', // top, center, bottom
                                                        },
                                                    }
                                                },
                                                dataLabels: {
                                                    enabled: true,
                                                    formatter: function(val) {
                                                        return val + "";
                                                    },
                                                    offsetY: -20,
                                                    style: {
                                                        fontSize: '12px',
                                                        colors: ["#304758"]
                                                    }
                                                },

                                                xaxis: {
                                                    categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                                                    position: 'top',
                                                    axisBorder: {
                                                        show: false
                                                    },
                                                    axisTicks: {
                                                        show: true
                                                    },

                                                    tooltip: {
                                                        enabled: true,
                                                    }
                                                },
                                                yaxis: {
                                                    axisBorder: {
                                                        show: true
                                                    },
                                                    axisTicks: {
                                                        show: true,
                                                    },
                                                    labels: {
                                                        show: true,
                                                        formatter: function(val) {
                                                            return val + "";
                                                        }
                                                    }

                                                },

                                            };

                                            var chart = new ApexCharts(document.querySelector("#chart"), options);
                                            chart.render();
                    </script>
                </div>
            </div>

        </div>



    </div>

    <div class="col-lg-5">

        <div class="main-card mb-3 card">
            <div class="card-header">Upcoming Payments</div>
            <div class="card-body">
                <div class="chartbox">

                    <div id="chart1">
                    </div>

                    <script>
                                            var options = {
                                                series: [44, 55, 41],
                                                chart: {
                                                    type: 'donut',
                                                    height: 340
                                                },

                                                legend: {
                                                    show: true,
                                                    position: 'bottom'
                                                },
                                                labels: ["Outstanding", "Invoiced", "Overdue"],

                                            };

                                            var chart = new ApexCharts(document.querySelector("#chart1"), options);
                                            chart.render();
                    </script>
                </div>
            </div>

        </div>
    </div>
</div>