@model SATNET.WebApp.Models.Token.TokenViewModel
@{
    ViewData["Title"] = "Edit Token";
}

<form id="formAdd" method="post" data-ajax="true" asp-controller="Token" asp-action="Edit" data-ajax-method="post" enctype="multipart/form-data" autocomplete="off">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Update Token
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    <a href="@String.Format("/{0}", "Token/Index")" class=" btn btn-danger">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-default">Update Record</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                <label class="lable-control">Token(GB)</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="position-relative form-group">
                <label class="lable-control">Validity(Months)</label>
                <input asp-for="Validity" class="form-control" />
                <span asp-validation-for="Validity" class="text-danger"></span>
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="Id" />
</form>

@section scripts{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
}





